/* обнуление */
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner- {padding:0;border:0;}
a, a:visited{text-decoration: - none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: -top;}
h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;}
/*  */

body {
  background-color: rgb(0, 0, 0);
}

nav {
  background-color: rgb(15, 15, 15);
  width: 15vh;
  height: 100%;
}

.top {
  padding: 1vh;
}
.bok_menu {
  display: block;
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vh;
  font-weight: 900;
  text-align: center;
  color: rgb(145, 145, 145);
  border: 0px solid white;
  border-radius: 1vh;
  background-color: #424242;
  margin: 0 4vh;
  width: 50%;
  height: 6%;
  padding-top: 2vh;
  
}

.bok_menu0 {
  border:0px solid wheat;
  border-radius: 7px;
  padding: 2vh;
  margin: 0.5vh 2.7vh;
  width: 10vh;
  height: auto;
}
.bok_menu0:hover {
  background-color: #292929;
}
.bok_menu1 {
  border: 0px solid wheat;
  border-radius: 50px;
  
  margin: 33vh 4.3vh 0;
  width: 6vh;
  height: auto;
}
.bok_menu1:hover {
  background-color: #292929;
  box-shadow: 0 0 40px #8b8b8b;
}


/* .bok_menu1 {
  margin: 4vh 4vh;
  width: 45%;
  height: 6%;
  background: url('../img/book.png') center/cover no-repeat;
  background-size: 4.5vh;
}
.bok_menu2 {
  margin: 4vh 4vh;
  width: 45%;
  height: 6%;
  background: url('../img/HTML.png') center/cover no-repeat;
  background-size: 4.5vh;
}
.bok_menu3 {
  margin: 4vh 4vh;
  width: 45%;
  height: 6%;
  background: url('../img/CSS.png') center/cover no-repeat;
  background-size: 4.5vh;
}
.bok_menu4 {
  margin: 4vh 4vh;
  width: 45%;
  height: 6%;
  background: url('../img/JS.png') center/cover no-repeat;
  background-size: 4.5vh;
}
.bok_menu5 {
  margin: 45vh 4vh;
  width: 45%;
  height: 6%;
  background: url('../img/vk.png') center no-repeat;
  background-size: 4.5vh;
  
} */

 /* background: url('../img/jupiter.jpg') center no-repeat; */
